@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,300&family=REM&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'REM', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url(https://img.freepik.com/free-vector/graphic-design-team-developing-idea_23-2148101306.jpg?w=740&t=st=1693408366~exp=1693408966~hmac=422da81bbe38de70bbacb920f7d6e98513850191ba9f58ae119dfe5ae0aecc64);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; */

}
nav{
  background-color: black !important;
  width: 100rem;
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color:transparent;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.logout{
  display: contents;
  color: #3c0a6a;
  width: 10px;
  height: 10px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  margin-left: 57px;
  margin-right: 69px;
  left: -40px;
}
.logout:hover{
  color: #9557cf;
}
nav>a{
  position: relative;
  text-decoration: none;
  margin-left: 57px;
  left: -40px;
}
nav>a:hover{
  color: #9557cf;
}
.inputarea{
  
  top:77px;
  display: flex;
  flex-direction: column;
  width: 28rem;
  margin: 40px;
  margin-left: 0px;
  min-height: 20rem;
  background-color: transparent;
  position: relative;
}
/* Hide both vertical and horizontal scrollbars */
.body::-webkit-scrollbar {
  color: transparent;
}

.Write{
  border-radius: 10%;
  background-image: linear-gradient(45deg, #490787,#3c0a6a);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
}
.form{
  top:30px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  
}
.form>input{
  color: white;
  background-color: black;
  height: 40px;
  margin: 5px;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form>textarea{
  color: white;
  background-color: black;
  height: 40px;
  margin: 25px;
  margin-top: 5px;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
}
.body{
  background-color: #000000c0;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  min-height: 796px;
}


button{
  color: aliceblue;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 75%;
  border-radius: 5px;
  background-color: rgb(120, 120, 120);
}
button:hover{
  background-color: rgb(69, 69, 69);
}
h1{
  top: 31px;
  position: inherit;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Task{
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Task button{
  height: 30px;
  width: 80%;
  border-radius: 5px;
}
.Task p,span{
  height: 50px;
  border-radius: 5px;
  display: flex;
  width: 80%;
  margin: 8px;
  border: 0.5px solid black;
  background-color: aliceblue;
}
.Task p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}
.about{
  text-decoration: none;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  width: 100%;
  min-height: 796px;
}
.header{
  text-decoration: none;
}
.password-input {
  position: relative;
}

.show-hide-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.Loader>img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 237px;
}